Cython
Django
django-bootstrap3
django-debug-toolbar
django-redis-cache
django-registration-redux
django-simple-captcha
django-summernote
git+https://github.com/Lupino/py3k-gearman
hiredis
Pillow
psycopg2
readline
redis
six
sqlparse
Unidecode
uWSGI
sleekxmpp
requests
configparser
