{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="col-md-offset-4 col-md-4">
{% if user.first_name and user.last_name %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "ok" button_type="button" %} {% trans 'Submit' %}
    </button>
    {% endbuttons %}
</form>
{% else %}
    <p> Моля редактирайте профила си <a href="{% url 'edit_profile' pk=user.pk %}">тук</a> преди да добавяте постове.
{% endif %}
</div>
{% endblock %}
