{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load cache %}

{% block extra_css %}
<style>
    .avatar {
        width:32px;
        height:32px;
    }
</style>
{% endblock %}

{% block content %}
{% if object_list %}
    {% for post in object_list %}
    <div itemprop="blogPost" itemscope itemtype="http://schema.org/Blog">
        <div class="col-md-offset-2">
            {% include "core/post_body.html" %}
        </div>
        <br />
    </div>
    {% endfor %}
    {% if is_paginated %}
        <div class="col-md-offset-6">
            {% bootstrap_pagination page_obj %}
        </div>
    {% endif %}

{% endif %}
{% endblock %}
