{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block keywords %}
    <meta name="Keywords" content="{{ post.keywords }}"/>
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block mata_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div itemprop="blogPost" itemscope itemtype="http://schema.org/Blog">
        <div class="col-md-12">
            <ol class="breadcrumb" class="col-md-2">
                <li><a href="{% url 'index' %}">Начало</a></li>
                <li class="active"><a href="{% url 'post' pk=post.pk slug=post.slug %}">{{ post.title }}</a></li>
        </div>
        {% include "core/post_body.html" %}
    </div>
{% endblock %}
