{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block extra_css %}
<style>
    .avatar {
        width:32px;
        height:32px;
    }
</style>
{% endblock %}

{% block content %}
{% if object_list %}
    {% for post in object_list %}
    <div itemprop="blogPost" itemscope itemtype="http://schema.org/Blog">
        <div class="col-md-offset-2">
            <ul>
                <div class="post-title"><h2><a href="{% url 'post' pk=post.pk slug=post.slug %}" rel="bookmark" itemprop="url"><span itemprop="headline">{{ post.title }}</span></a></h2></div>
                <ul>
                    <div class="post-time" itemprop="datePublished">{{ post.date_created }} от <img class="img-rounded avatar" src="{{ STATIC_URL }}{{ post.author.avatar }}"/> <span itemprop="author">{{ post.author }}</span></div>
                    <div class="post-content" itemprop="text">
                        {% autoescape off %}
                        {{ post.content | linebreaks | safe }}
                        {% endautoescape %}
                    </div>
                </ul>
            </ul>
        </div>
        <br />
    </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="col-md-offset-6">
            {% bootstrap_pagination page_obj %}
        </div>
    {% endif %}

{% endif %}
{% endblock %}
