{% extends "base.html" %}

{% load i18n %}

{% block keywords %}
    <meta name="Keywords" content="{{ post.keywords }}"/>
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block mata_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div itemprop="blogPost" itemscope itemtype="http://schema.org/Blog">
        <div class="col-md-12">
            <ol class="breadcrumb" class="col-md-2">
                <li><a href="{% url 'index' %}">Начало</a></li>
                <li class="active"><a href="{% url 'post' pk=post.pk slug=post.slug %}">{{ post.title }}</a></li>
        </div>
        <div class="post">
            <ul>
                <div class="post-title"><h2><a href="{% url 'post' pk=post.pk slug=post.slug %}" rel="bookmark" itemprop="url"><span itemprop="headline">{{ post.title }}</span></a></h2></div>
                <ul>
                    <div class="post-time" itemprop="datePublished">{{ post.date_created }}</div>
                    <div class="post-content" itemprop="text">
                        {% autoescape off %}
                        {{ post.content | linebreaks | safe }}
                        {% endautoescape %}
                    </div>
                    <div class="post-content" itemscope itemtype="aggregateRating">
                        Рейтинг: {% if post.rating_set.count > 0 %}<span itemprop="ratingValue">{{ post.rating_set.count }}</span>{% else %}<span itemprop="ratingValue">0</span>{% endif %}
                        <a href="{% url 'rating_up' id=post.pk slug=post.slug %}">+</a>
                        <a href="{% url 'rating_down' id=post.pk slug=post.slug %}">-</a>
                    </div>
                    {% if post.author = user %}
                    <div class="post-content">
                        <a href="{% url 'edit_post' pk=post.pk %}">Редактирай</a>
                    </div>
                    {% endif %}
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}
