{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block extra_css %}
<style>
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>
{% endblock %}

{% block title %}An error has occured {% endblock %}

{% block content %}
<div class="col-md-offset-4 col-md-4 error-template">
    <h1>Oops! You broke the internet!</h1>
    <h2>404 Not Found</h2>
    <div class="error-details">
        Sorry, an error has occured, Requested page not found!
    </div>
    <div class="error-actions">
        <a href="{% url 'index' %}" class="btn btn-primary btn-lg">
        {% bootstrap_icon 'home' %}
            {% trans 'Take Me Home' %}
        </a>
    </div>
</div>
{% endblock %}
