<div class="header">
    <div class="site-title">
        <h2><a href="{% url 'index' %}">fun.mitaka-g.net</a></h2>
    </div>
</div>
<div class="menu">
    {% block menu %}
        <a href="{% url 'index' %}">Начало</a>
        {% if user.is_authenticated %}
        <a href="{% url 'add_post' %}">Добавяне</a>
        <a href="{% url 'add_category' %}">Добавяне на нова категория</a>
        <a href="{% url 'profile' pk=user.pk %}">Профил</a>
        <a href="/profile/logout/">Изход</a>
        {% else %}
        <a href="{% url 'auth_login' %}">Вход</a>
        <a href="{% url 'registration_register' %}">Регистрация</a>
        {% endif %}
    {% endblock %}
</div>
